.font-color {
  color: black;
  padding-top: 0%;
}
.span{
  padding-top: 0%;
}
body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}
p {
  font-size: 15px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 7px;
}
.pict {
  width: 25%;
  margin-left: 0;
  padding-top: 10px;
}
.pict img {
  border-radius: 20%;
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #00A7EA;
  position: relative;
  text-shadow: 0 0 2px white;
}
h2:before {
  content: "";
  position: absolute;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left:3px
  -webkit-transfrom translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
h2 span {
  margin-left: 10px;
  font-size: 15;
  color: #ccc;
  position: relative;
  top: -2.0px;
}
.value {
  line-height: 30px;
  font-size: 15px;
}
.valueInner {
  margin-bottom: 5px;
}
.job-titile {
  width: 32ch;
  padding-bottom: 0px;
  border-right: 1.5px solid grey;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.55rem;
  line-height: 0.01;
  font-weight: 1;
  animation: typing 5s steps(23), blink .5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.sidetxt {
  color: grey;
  font-size: 15px;
  padding: 0%;
}
.small-text {
  font-size: 17.5px;
}
.experience {
  font-size: 13px;
  color: black;
}
.logos {
  display:flex;
  justify-content: center;
}
.logos a img {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px ;
  margin-bottom: 5px;
  width:30pt;
  height:30pt;
}
.logos a img:hover {
  opacity: 0.5;
}
.space {
  margin-bottom: 30px;
}
h3 {
  font-size: 15px;
}
/* カード */

.effect {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  position: relative;
  display: block;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(200px);
}

.container .card:hover .face.face1{
  background: gainsboro;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1{
  opacity: 1;
}

.container .card .face.face1 .content img{
  max-width: 100px;
}

.container .card .face.face1 .content h4{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(0);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333;
  color: #fff
}

/* レスポンシブ対応 デスクトップ用 */
@media (min-width: 481px) {
  body {
    margin: 0;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .logos {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  .pict {
    width: min-content;
    display: block;
    margin: 0 auto;
  }  
  .font-color {
    text-align: center;
    color: black;
  }
  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 13px;
    margin: auto;
  }
  h2 {
    font-size: 15px;
  }
}